header.site-header {
    background: lightgray; 
    height: 100px;
}

div.left-panel {
    width: 100px;
    background: blue; 
}


div.right-panel {
    width: 100px;
    background: blue; 
}

.page-footer {
    position: fixed;
    height: 80px;
    background-color: lightgray;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}