header.site-header {
    background: lightgray; 
    height: 100px;
}

#login-btn {
    margin-top: 26px; 
}

#center-card {
    margin-bottom: 0px !important;
}

div.side-panel {
    display: block; 
    width: 100px;
    background: blue; 
}

#footer {
    position: fixed;
    height: 80px;
    background-color: lightgray;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

/* Bootstrap extra small device breakpoint  */
@media screen and (max-width: 575.98px) {
    .side-panel {
        display: none !important;
    }
    #checkWord {
        margin-left: 10px; 
    }
}